@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* imagem flutuando */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  25% {
    transform: translateY(-20px) rotate(5deg);
  }

  50% {
    transform: translateY(10px) rotate(-5deg);
  }

  75% {
    transform: translateY(-15px) rotate(3deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.animate-float {
  animation: float 4s infinite ease-in-out;
}


/* girando infinito */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}


/* tremendo */
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-2px, 2px);
  }

  50% {
    transform: translate(2px, -2px);
  }

  75% {
    transform: translate(-2px, -2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.animate-shake {
  animation: shake 0.2s infinite;
}


/* texto pulando */
@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-jump {
  animation: jump 1s infinite;
}


/* indo pro lado */
@keyframes drift {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(800px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-drift {
  animation: drift 3s infinite ease-in-out;
}

@keyframes background-insano {
  0% {
    background-color: #ff0000;
  }

  10% {
    background-color: #00ff00;
  }

  20% {
    background-color: #0000ff;
  }

  30% {
    background-color: #ffff00;
  }

  40% {
    background-color: #ff00ff;
  }

  50% {
    background-color: #00ffff;
  }

  60% {
    background-color: #ff8800;
  }

  70% {
    background-color: #8800ff;
  }

  80% {
    background-color: #00ff88;
  }

  90% {
    background-color: #ff0088;
  }

  100% {
    background-color: #ff0000;
  }
}

.animate-bg-insano {
  animation: background-insano 0.5s infinite linear;
}
